.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    margin: 0;
}

.inputContainer{
    height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
}

.input{
    background-color: white;
    color: black;
    height: 80%;
    width: 100%;
    resize:none
}

.result{
    width: 100%;
    height: 95%;
    overflow-y: scroll;
    background-color: white;
}