.editor{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    color: black;
    width: 100%;
    height: 100%;
}

.sideBar{
    width: 25%;
    background-color:navajowhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pickerTab{
    background-color: aliceblue;
    height: 100%;
}

.bottomTab{
    background-color: aquamarine;
    height: 100%;
}

.content{
    width: 75%;
    background-color: bisque;
}