.editor{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    color: black;
    width: 100%;
    height: 100%;
}

.sideBar{
    width: 25%;
    background-color:navajowhite;
}

.content{
    width: 75%;
    background-color: bisque;
}