.editor{
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    color: black;
    width: 100%;
    height: 100%;
}

.sideBar{
    width: 50%;
    background-color:navajowhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.pickerTab{
    background-color: aliceblue;
    height: 100%;
}

.bottomTab{
    background-color: aquamarine;
    height: 100%;
}

/* widgets viwer */

.widgets{
    background-color: bisque;
    width: 100%;
}

/* properties */

.properties{
    width: 50%;
    background-color: aquamarine;
}

/* right tab */

.content{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: bisque;
}