.parent{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.Top{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dragEl{
    background-color: navajowhite;
    height: 20px;
}

.dragEl:hover{
    background-color: antiquewhite;
    cursor: grab;
}

.componentList{
    display: flex;
    flex-direction: column;
    gap: 10px;
}